<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Pixel</title>

    <!--font awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />

    <!---css style-->
    <link rel="stylesheet" href="./css/style copy.css" />
  </head>
  <body>
    <header>



      <img src="./assets/pixel news.png" width="120px" />
    
      <p>Welcome: <%=name%>!</p>
      <p  onclick="Search(tp)" id="aa" >Personalized</p>
      <div class="inputSearch desktop">
        <form id="searchForm">
          <input type="text" placeholder="Type to search..." id="searchInput" />
          
        </form>
      </div>
      <nav class="desktop">
        <ul>
          <li onclick="Search('technology')">Technology</li>
          <li onclick="Search('politics')">Politics</li>
          <li onclick="Search('finance')">Finance</li>
          <li onclick="Search('Sports')">Sports &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</li>
          <!-- <li><a> <i class="fa-solid fa-user" ></i> Profile</a></li>  -->
          <li><a class="logout" href="/profile">&nbsp;Profile   </a></li>
          <li><a class="logout" href="/logout">Logout&nbsp;  </a></li>
        </ul>
      </nav>
      
      <div class="menuBtn">
        <i class="fa-solid fa-bars"></i>
      </div>

      <!------>
      <div class="mobile hidden">
        <nav>
          <ul>
          <li onclick="Search('technology')">Technology</li>
          <li onclick="Search('politics')">Politics</li>
          <li onclick="Search('finance')">Finance</li>
          <li onclick="Search('Sports')">Sports &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</li>
          <li><a class="logout" href="/profile">&nbsp;Profile  </a></li>
          <li><a class="logout" href="/logout">Logout&nbsp;  </a></li>
          </ul>
        </nav>
        <div class="inputSearch">
        <form id="searchFormMobile" id="searchInputMobile">
          <input type="text" placeholder="Type to search..." />
          <span> <i class="fa-solid fa-search"></i></span>
        </div>
        </form>
      </div>
    </header>

    <!-- main  -->

    <main></main>

    <!DOCTYPE html>
<html>

<body>
    

    <script>
        // Function to fetch and display news articles
        
    </script>
</body>
</html>


    <script src="./js/script copy.js"></script>
    <script>
      var tp = '<%=interest %>';
    </script>
  </body>
</html>